<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167556416758-1er5glj17lcpfc5krvvo27mvsr5lavki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167556416758-1er5glj17lcpfc5krvvo27mvsr5lavki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167556416758-5bojjsfuorl9spj8ccqh5hhjdacqtl3o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUzAdHp11MNthCOHS7wPMFWYyP0w-REEA</string>
	<key>GCM_SENDER_ID</key>
	<string>167556416758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>osuamadiezinne.enviableApp</string>
	<key>PROJECT_ID</key>
	<string>enviable-802b0</string>
	<key>STORAGE_BUCKET</key>
	<string>enviable-802b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167556416758:ios:6cc12310ba0917061458d7</string>
	<key>DATABASE_URL</key>
	<string>https://enviable-802b0-default-rtdb.firebaseio.com</string>
</dict>
</plist>